@page
@model Website.Pages.Recipes.CreateModel

@{
    ViewData["Title"] = "Create A Recipe";
}

<h2>Create A Recipe</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Recipe.Name" class="control-label"></label>
                <input asp-for="Recipe.Name" class="form-control" />
                <span asp-validation-for="Recipe.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.PrepTimeMins" class="control-label"></label>
                <input asp-for="Recipe.PrepTimeMins" class="form-control" />
                <span asp-validation-for="Recipe.PrepTimeMins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Servings" class="control-label"></label>
                <input asp-for="Recipe.Servings" class="form-control" />
                <span asp-validation-for="Recipe.Servings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.CookTimeMins" class="control-label"></label>
                <input asp-for="Recipe.CookTimeMins" class="form-control" />
                <span asp-validation-for="Recipe.CookTimeMins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StepsText" class="control-label">Steps</label>
                <textarea asp-for="StepsText" class="form-control" rows="10" placeholder="Enter each step on a new line..."></textarea>
                <span asp-validation-for="StepsText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
