# Copy this file to .env.local for local development (never commit .env.local)
VITE_USE_EMULATOR=true
VITE_API_URL=http://localhost:8081
VITE_FIREBASE_API_KEY=AIzaSyBVd8sCrZ9jirMVicyvy5pBcl42JBrEDeI
VITE_FIREBASE_AUTH_DOMAIN=queen-of-code.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=queen-of-code
VITE_FIREBASE_STORAGE_BUCKET=queen-of-code.appspot.com
VITE_FIREBASE_APP_ID=1:367855466316:web:da30996c9878ed98ec01e9
