@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    On Twitter, follow 'queenofcode'<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:mbenua@gmail.com">mbenua@gmail.com</a><br />
</address>
