@page
@model IndexModel
@{
    ViewData["Title"] = "Alexa Recipe App";
}

<div class="row">
    <div class="col-md-3">
        <h2>Store and Retrive Recipes</h2>
        <div>Save, edit, delete, and categorize your own personal recipes using the web ui.</div>
    </div>
    <div class="col-md-3">
        <h2>Backup Recipes to the Cloud</h2>
        <div>Ensure you never lose a precious family recipe again by backing up to the cloud. Keep all your data in sync, no matter what the device!</div>
    </div>
    <div class="col-md-3">
        <h2>Interact with Alexa</h2>
        <div>Now you can ask, "Alexa, read me the next step!" and receive verbal instructions. No more stained recipe books!
    </div>
    <div class="col-md-3">
        <h2>Plan Weekly Meals</h2>
        <div>Simply provide a few key ingredients, and it will generate a weekly meal plan - complete with ingredient shopping list!</div>
    </div>
</div>
