@page
        @model IndexModel
        @{
            ViewData["Title"] = "Alexa Recipe App";
        }

<body class="htmlNoPages">

    <h1 class="gwd-h2-1xqe">WELCOME TO ALEXA RECIPE APP</h1>
    <div>Welcome to your customized recepie library!</div>
    <h2 class="gwd-span-brwj"><span class="gwd-span-15w9"><span class="gwd-span-yd0q">Store and Retrive Recipes:</span><br></span><br></h2>
    <p class="gwd-span-qtjo"> edit, delete, and categorize your own personal recipes using the web ui.</P>

    <h2 class="gwd-span-x1mr"><span class="gwd-span-1vsp">Backup Recipes to the Cloud:</span><br><br></h2>
    <p class="gwd-p-zu89">Ensure you never lose a precious family recipe again by backing up to the cloud. Keep all your data in sync, no matter what the device</P>
    <div class="gwd-h2-e8mj">
        Save, edit, delete, and categorize your own personal recipes using the web features.<br>

    </div>
    <h2 class="gwd-span-fnuw"><span class="gwd-span-1vsp">Interact With Alexa:</span><br><br></h2>
    <P class="gwd-span-qtjo">Now you can ask, "Alexa, read me the next step!" and receive verbal instructions. No more stained recipe books!</P>
    <h2 class="gwd-span-1xz9"><span class="gwd-span-1vsp">Plan Weekly Meals:</span><br><br></h2>
    <P class="gwd-span-gnvb">Simply provide a few key ingredients, and it will generate a weekly meal plan - complete with ingredient shopping list</P>
</body>












