@page
        @model IndexModel
        @{
            ViewData["Title"] = "Alexa Recipe App";
        }

    <body class="content-section bg-light">
        <!--  <b>THIS IS VERY PRETTY DON'T YOU THINK</b>-->
        <h1>WELCOME TO ALEXA RECIPE APP</h1>
        <br />
        <p class="container">This is your customized recipe library! There are many amazing functions supported, such as:</p>
        <br />

        <h2>Store and Retrive Recipes</h2>
        <p>Edit, delete, and categorize your own personal recipes using the web ui.</p>
        <br />

        <h2>Backup Recipes to the Cloud</h2>
        <p>Ensure you never lose a precious family recipe again by backing up to the cloud. Keep all your data in sync, no matter what the device</p>
        <p>Save, edit, delete, and categorize your own personal recipes using the web features.</p>
        <br />

        <h2>Interact With Alexa</h2>
        <p>Now you can ask, "Alexa, read me the next step!" and receive verbal instructions. No more stained recipe books!</p>
        <br />

        <h2>Plan Weekly Meals</h2>
        <P>Simply provide a few key ingredients, and it will generate a weekly meal plan - complete with ingredient shopping list</P>
    </body>












