name: Alexa Recipe App CI/CD

on:
  push:
    branches:
    - master
  pull_request:
    branches:
      - master
jobs:
    ci:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
          with:
            # Disabling shallow clone is recommended for improving relevancy of reporting
            fetch-depth: 0
        - name: Setup .NET Core
          uses: actions/setup-dotnet@v1
          with:
            dotnet-version: 3.1.101
        - name: Install dotnet tool 
          run: dotnet tool install --global dotnet-sonarscanner
#        - name: Start sonar
#          run: dotnet sonarscanner begin /k:"gh_alexa_recipe_app" 
        - name: Install dependencies
          run: dotnet restore RecipeApp/Website.sln
        - name: Build
          run: dotnet build --configuration Release --no-restore RecipeApp/Website.sln
        - name: Test
          run: dotnet test --no-restore --no-build --configuration Release --verbosity normal RecipeApp/Website.sln --filter Category!=Integration
#        - name: End sonar
#          run: dotnet sonarscanner end
                              
    cd:
        runs-on: ubuntu-latest
        needs: ci
        steps:
        - uses: actions/checkout@v1
        - name: Docker Login
          uses: docker/login-action@v1.6.0
          with:
              username: ${{ secrets.DOCKERHUB_USERNAME }}
              # Password or personal access token used to log against the Docker registry
              password: ${{ secrets.DOCKERHUB_PASSWORD }}
        - name: Build and push Docker images
          uses: docker/build-push-action@v2.0.1
          with:
              # Path to the Dockerfile
              file: RecipeApp/docker-compose.yml
              # Push is a shorthand for --output=type=registry
              push: false
    
