name: Continuous Integration

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  release:
    types:
      - published
    branches:
      - master
  workflow_dispatch:
    inputs:
      name:
        description: 'Environment'
        required: false
        default: 'Dev'

jobs:
  #CI Pipeline
    build_test:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
          with:
            # Disabling shallow clone is recommended for improving relevancy of reporting
            fetch-depth: 0
        - name: Setup .NET Core
          uses: actions/setup-dotnet@v1
          with:
            dotnet-version: '9.0.x'
        - name: Install dotnet tool
          run: dotnet tool install --global dotnet-sonarscanner
        - name: Install dependencies
          run: dotnet restore RecipeApp/Website.sln
        - name: Build
          run: dotnet build --configuration Release --no-restore RecipeApp/Website.sln
        - name: Test
          run: dotnet test --no-restore --no-build --configuration Release --logger trx --verbosity minimal RecipeApp/Website.sln --filter Category!=Integration --collect:"XPlat Code Coverage"
          
        - name: XUnit Test Report
          uses: dorny/test-reporter@v1
          if: success() || failure()    # run this step even if previous step failed
          with:
            name: XUnit Results
            path: '**/*.trx'                     # Path to test results (inside artifact .zip)
            reporter: dotnet-trx              # Format of test results
            list-suites: all
            list-tests: failed
            token: ${{ github.token }}
          
        - name: ReportGenerator
          uses: danielpalme/ReportGenerator-GitHub-Action@4.8.9
          with:
            # The coverage reports that should be parsed (separated by semicolon). Globbing is supported.
            reports: "**/coverage.cobertura.xml"
            # The directory where the generated report should be saved.
            #targetdir: # default is coveragereport
            # The output formats and scope (separated by semicolon) Values: Badges, Clover, Cobertura, CsvSummary, Html, HtmlChart, HtmlInline, HtmlInline_AzurePipelines, HtmlInline_AzurePipelines_Dark, HtmlSummary, JsonSummary, Latex, LatexSummary, lcov, MHtml, PngChart, SonarQube, TeamCitySummary, TextSummary, Xml, XmlSummary
            reporttypes: "HtmlInline;lcov"
            # Optional directories which contain the corresponding source code (separated by semicolon). The source directories are used if coverage report contains classes without path information.
            #sourcedirs: # optional, default is 
            # Optional directory for storing persistent coverage information. Can be used in future reports to show coverage evolution.
            #historydir: # optional, default is 
            # Default directory for installing the dotnet tool.
            #toolpath: # optional, default is reportgeneratortool
            # Optional plugin files for custom reports or custom history storage (separated by semicolon).
            #plugins: # optional, default is 
            # Optional list of assemblies that should be included or excluded in the report. Exclusion filters take precedence over inclusion filters. Wildcards are allowed.
            assemblyfilters: "+Website;+RecipeAPI;+Core"
            # Optional list of classes that should be included or excluded in the report. Exclusion filters take precedence over inclusion filters. Wildcards are allowed.
            #classfilters: # optional, default is +*
            # Optional list of files that should be included or excluded in the report. Exclusion filters take precedence over inclusion filters. Wildcards are allowed.
            filefilters: +*
            # The verbosity level of the log messages. Values: Verbose, Info, Warning, Error, Off
            #verbosity: # optional, default is Info
            # Optional title.
            #title: # optional, default is 
            # Optional tag or build version.
            #tag: # optional, default is ${{ github.run_number }}_${{ github.run_id }}
            # Optional custom settings (separated by semicolon). See: https://github.com/danielpalme/ReportGenerator/wiki/Settings
            #customSettings: # optional, default is 
        - name: Upload coverage report artifact
          uses: actions/upload-artifact@v2.2.3
          with:
            name: CoverageReport # Artifact name        
            path: coveragereport/index.htm # Directory containing files to upload
            
        - name: Report Code Coverage
          uses: romeovs/lcov-reporter-action@v0.2.11
          with:
            lcov-file: coveragereport/lcov.info
            github-token: ${{ github.token }}
